.zenai-search-btn {
  --bs-btn-border-color: #798490;
  --bs-btn-hover-border-color: #798490;
  --bs-btn-active-border-color: #798490;
  border-left: 0 none;
}

.zenai-search-btn:hover .icon {
  color: #0042a0;
}

